[submodule "wisemodel/langchain-gemini-api"]
	path = wisemodel/langchain-gemini-api
	url = git@github.com:shamspias/langchain-gemini-api.git
[submodule "wisemodel/phi3-Chinese"]
	path = wisemodel/phi3-Chinese
	url = git@github.com:CrazyBoyM/phi3-Chinese.git
